---
- include: "files/varsfile.yml"

- name: copy sites settings files
  template: 
    src: "templates/drupal_settings.php.j2 "
    dest: "/var/sites/{{ item }}/settings.php"
    owner: "{{ ansible_user_id }}"
    group: staff
  with_items: "{{ site_name }}"

- name: create drush aliases
  template:
    src: "templates/drushrc.php.j2"
    dest: "~/.drush/{{ item }}.php"
    mode: 0755  
    owner: "{{ ansible_user_id }}"
    group: staff
  with_items:  "{{ site_name }}"

- name: build sites locally
  command: "/usr/local/bin/php /var/sites/slac-features/rebuild/slac_ext_org.php"
