---
- name: copy sites settings files
  copy: 
    src: "/usr/local/superlumic/roles/slac.sites-build/files/{{ item }}settings.php"
    dest: "/var/sites/{{ item }}/sites/default/settings.php"
    owner: "{{ ansible_user_id }}"
    group: staff
  with_items: "{{ site_name }}"

- name: create drush aliases
  template:
    src: /usr/local/superlumic/roles/slac.sites-build/templates/drushrc.php.j2
    dest: "~/.drush/{{ item }}.php"
    mode: 0755  
    owner: "{{ ansible_user_id }}"
    group: staff
  with_items:  "{{ site_name }}"

- name: build sites locally
  command: "/usr/local/bin/php /var/sites/slac-features/rebuild/slac_ext_org.php"
