<?php
/**
 * Local alias
 * Set the root and site_path values to point to your local site
 */
$aliases['local'] = array(
  'root' => '/var/sites/{{ site_name }}',
  'uri'  => '{{ site_name }}',
  'path-aliases' => array(
    '%dump-dir' => '/tmp',
  ),
);

?>